@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  background-color: #cceafa;

}

.world {
  overflow: hidden;
  position: relative;
  top: 15vmin;
  margin-left: auto;
  margin-right: auto;
  width:  68vmin;
  height: 24vh;
}

.score-name {
  position: absolute;
  font-size: 1vmin;
  color: #e94e1b;
  right: 33vmin;
  margin-left: 2vh;
  top: 10%;
}

.dollars {
  position: absolute;
  font-size: 1vmin;
  color: #e94e1b;
  right: 28vmin;
  margin-left: 2vh;
  top: 10%;
}

.money-name {
  position: absolute;
  font-size: 1vmin;
  color: #e94e1b;
  right: 22vmin;
  margin-left: 2vh;
  top: 10%;

}

.score {
  position: absolute;
  font-size: 1vmin;
  color: #e94e1b;
  right: 12vmin;
  margin-left: 2vh;
  top: 10%;
}

.highscore {
  position: absolute;
  font-size: 1vmin;
  color: #ff8725;
  right: 2vmin;
  margin-left: 2vh;
  top: 10%;
}

#muteBtn {
  position: absolute;
  font-size: 1.2vmin;
  color: #e94e1b;
  left:0;
  margin-left: 2vh;
  top: 10%;
  width: 70px;
}

.onBtn{
  width: 12px;
  top: 10%;
}

.offBtn{
  width: 12px;
  top: 10%;
}

.end-screen{
  margin-left: auto;
  margin-right: auto;
  margin-top: 14vh;
  color: #e94e1b;
  margin-bottom: 15vh;
  width: 100%;
  padding: 10px;
  text-align: center;

}

.info{
  margin-left: auto;
  margin-right: auto;
  margin-top: 22vmin;
  width: 100%;
  bottom: 10%;
  padding: 10px;
  text-align: center;
}


.start-screen{
  font-size: 2vmin;
  color: white;
  animation: opacity 2.9s ease-in-out infinite;
  opacity: 1;
}

.start1-screen{
  font-size: 1.2vmin;
  
  color: rgb(105, 105, 105);

}



@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}


.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 200%;
  bottom: 0;
  left: calc(var(--left) * 1%)
}

.palm {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 5vmin;
  bottom: 0.8vh;
}

.palmBig{
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 7vmin;
  bottom: 0.8vh;

}

.cloud {
  --left:0;
  position: absolute;
  height: 1.4vh;
  top: 6vh;
  left: calc(var(--left) * 1%);

}

.cloud1 {
  --left:0;
  position: absolute;
  height: 1.3vh;
  top: 5vh;
  left: calc(var(--left) * 1.4%);

}

.cloud2 {
  --left:0;
  position: absolute;
  height: 1.2vh;
  top: 9vh;
  left: calc(var(--left) * 1.8%);

}

.woman {
  --bottom: 0;
  position: absolute;
  left: 10%;
  height: 4.5vmin;
  bottom: calc(var(--bottom) * 1%);
}
.car {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 1.82vmin;
  bottom: 0vh;
}


.money {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 5%;
  bottom: 10vh;
  animation: money 2s ease infinite;
}
@keyframes money {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}


.footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom:2vh;
  width: 100%;
  text-align: center;
  color: rgb(105, 105, 105);
  
}

.footer a{
  margin: auto;
  text-align: center;
  color: rgb(105, 105, 105);
  padding:0 1%;
  font-size: 0.9vmin;
}
